/* Cards */
.card {
  position: relative;
  width: 320px;
  height: 450px;
  background-color: #1a1a1a;
  margin: 20px;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card::before, .card::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 15px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none;
}

.card::before {
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -1;
}

.card::after {
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  filter: blur(15px);
  transform: scale(0.95);
  z-index: -2;
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.card:hover::after {
  filter: blur(25px);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-content {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.card-description {
  font-size: 16px;
  color: #dddddd;
  line-height: 1.5;
}

/* Container for multiple cards */
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    width: 90%;
    margin: 20px auto;
  }

  .card-image {
    height: 180px;
  }
}

@media (max-width: 480px) {
  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-description {
    font-size: 14px;
  }
}
